*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem;
  margin-bottom: 1.1rem;
  width: 100%;
  position: fixed;
  z-index: 1;
}

#logo {
  height: 40px;
  width: 40px;
}

.nav-line {
  display: none;
  position: absolute;
  width: 33%;
  height: 0.5px;
  background-color: rgba(208, 214, 249, 0.4);
  left: 164px;
  top: 88px;
  z-index: 2;
}

.nav {
  position: fixed;
  top: 0;
  right: -100%;
  max-width: 70%;
  height: 100vh;
  z-index: -50;
  visibility: hidden;
  background: rgba(225, 225, 225, 0);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 6rem 0rem 0rem 2rem;
}

.nav .nav-list .list-items {
  list-style: none;
  color: white;
  padding: 1rem 2.5rem 1rem 0;
  border-right: 2px solid transparent;
}

.nav .nav-list .list-items a {
  text-decoration: none;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  letter-spacing: 4px;
  cursor: pointer;
}

.nav .nav-list .list-items a span {
  font-weight: bold;
  margin-right: 0.5rem;
}

.nav .nav-list .list-items.active {
  border-right: 2px solid white;
}

.burger {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 2;
  right: 1rem;
  top: 1.5rem;
  padding: 12px 0;
}

.burger .line {
  background: #d0d6f9;
  width: 1.8rem;
  height: 3px;
  position: relative;
}

.burger .line::before,
.burger .line::after {
  content: "";
  background: #d0d6f9;
  width: 1.8rem;
  height: 3px;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.burger .line::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.burger .line::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

main {
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  background-image: url("../Files/assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  scroll-snap-align: start;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 85%;
  margin: 0 auto;
  padding-top: 6em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  position: relative;
}

.container .first-line {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: white;
}

.container .first-line span {
  color: rgba(225, 225, 225, 0.5);
  font-weight: bold;
  margin-right: 0.8rem;
}

.img-container {
  border-bottom: 1px solid rgba(208, 214, 249, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.5rem;
}

.img-container .commander-img,
.img-container .specialist-img {
  width: 65%;
}

.img-container .pilot-img {
  width: 80%;
}

.img-container .engineer-img {
  width: 90%;
}

.dots-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5rem;
  top: 28.2rem;
}

.dots-div .dot {
  width: 0.6rem;
  height: 0.6rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
}

.dots-div .dot:hover {
  background: rgba(255, 255, 255, 0.8);
}

.dots-div .dot.active {
  background: white;
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-container .position {
  font-size: 1rem;
  line-height: 1.1rem;
  color: rgba(225, 225, 225, 0.5);
  font-family: "Bellefair", serif;
  margin-bottom: 0.8rem;
}

.text-container .name {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: white;
  font-family: "Bellefair", serif;
  margin-bottom: 0.8rem;
}

.text-container .para {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: #d0d6f9;
  margin-bottom: 0.8rem;
}

.nav-animation {
  right: 0;
  z-index: 1;
  visibility: visible;
}

.open .line {
  background: transparent;
}

.open .line::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.open .line::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (min-width: 375px) {
  .nav {
    width: 65%;
  }
}

@media screen and (min-width: 768px) {
  section {
    background-image: url("../Files/assets/crew/background-crew-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  img :not(#logo) {
    width: 100%;
    height: 100%;
  }
  #logo {
    height: 48px;
    width: 48px;
  }
  header {
    padding: 1.5rem 2.5rem 1rem 2.5rem;
    margin-bottom: 6rem;
  }
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: auto;
    visibility: visible;
    width: 60%;
    background: rgba(225, 225, 225, 0.1);
  }
  .nav .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
  .nav .nav-list .list-items {
    padding: 2rem 0rem;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .nav .nav-list .list-items a {
    font-size: 1.1rem;
  }
  .nav .nav-list .list-items a span {
    display: none;
  }
  .nav .nav-list .list-items:focus {
    border-bottom-color: rgba(225, 225, 225, 0.6);
  }
  .nav .nav-list .list-items.active {
    border-bottom-color: white;
    border-right: 2px solid transparent;
  }
  .burger {
    display: none;
  }
  .container {
    padding-top: 8em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .container .first-line {
    font-size: 1.25rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 4rem;
  }
  .container :nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .container :nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .container :nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .container :nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .img-container {
    border-bottom: none;
    margin-bottom: 0;
  }
  .img-container .commander-img {
    width: 80%;
  }
  .img-container .specialist-img {
    width: 84%;
  }
  .img-container .pilot-img {
    width: 83%;
  }
  .img-container .engineer-img {
    width: 89%;
  }
  .text-container {
    max-width: 70%;
  }
  .text-container .position {
    font-size: 1.5rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 1rem;
  }
  .text-container .name {
    font-size: 2.5rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 1.5rem;
  }
  .text-container .para {
    margin-bottom: 2.5rem;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media screen and (min-width: 1024px) {
  #logo {
    height: 48px;
    width: 48px;
  }
  section {
    background-image: url("../Files/assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
  }
  header {
    padding: 4rem 3rem;
    z-index: 1;
  }
  .nav-line {
    display: block;
  }
  .nav {
    top: 2.25rem;
    width: 58%;
  }
  .nav .nav-list .list-items {
    padding: 2.5rem 0;
  }
  .nav .nav-list .list-items a span {
    display: inline;
  }
  .nav .nav-list .list-items:hover {
    border-bottom-color: rgba(225, 225, 225, 0.6);
  }
  .nav .nav-list .list-items.active {
    border-bottom-color: white;
    border-right: 2px solid transparent;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
    padding-top: 13em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 3.4em;
  }
  .container .first-line {
    font-size: 1.8rem;
    letter-spacing: 4.725px;
    line-height: 2rem;
    margin-bottom: 9rem;
  }
  .img-container {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .img-container .commander-img {
    width: 95%;
  }
  .img-container .specialist-img {
    width: 95%;
  }
  .img-container .pilot-img {
    width: 95%;
  }
  .img-container .engineer-img {
    width: 95%;
  }
  .text-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 6rem;
  }
  .text-container .position {
    font-size: 2rem;
    text-align: left;
    line-height: 2rem;
  }
  .text-container .name {
    font-size: 4rem;
    text-align: left;
    line-height: 4rem;
  }
  .text-container .para {
    text-align: left;
    max-width: 80%;
  }
  .dots-div .dot {
    width: 1rem;
    height: 1rem;
  }
}
/*# sourceMappingURL=crew.css.map */