*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../Files/assets/home/background-home-mobile.jpg");
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header {
  padding: 1rem 1rem;
  margin-bottom: 1.1rem;
  width: 100%;
  position: fixed;
  z-index: 2;
}

#logo {
  height: 40px;
  width: 40px;
}

.nav-line {
  display: none;
  position: absolute;
  width: 33%;
  height: 0.5px;
  background-color: rgba(208, 214, 249, 0.4);
  left: 164px;
  top: 88px;
  z-index: 2;
}

.nav {
  position: fixed;
  top: 0;
  right: -100%;
  max-width: 70%;
  height: 100vh;
  z-index: -50;
  visibility: hidden;
  background: rgba(225, 225, 225, 0);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 6rem 0rem 0rem 2rem;
}

.nav .nav-list .list-items {
  list-style: none;
  color: white;
  padding: 1rem 2.5rem 1rem 0;
  border-right: 2px solid transparent;
}

.nav .nav-list .list-items a {
  text-decoration: none;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  letter-spacing: 4px;
  cursor: pointer;
}

.nav .nav-list .list-items a span {
  font-weight: bold;
  margin-right: 0.5rem;
}

.nav .nav-list .list-items.active {
  border-right: 2px solid white;
}

.burger {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 2;
  right: 1rem;
  top: 1.5rem;
  padding: 12px 0;
}

.burger .line {
  background: #d0d6f9;
  width: 1.8rem;
  height: 3px;
  position: relative;
}

.burger .line::before,
.burger .line::after {
  content: "";
  background: #d0d6f9;
  width: 1.8rem;
  height: 3px;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.burger .line::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.burger .line::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.space-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 85%;
  margin: 0 auto;
  min-height: 75vh;
  padding-top: 6em;
  z-index: 1;
}

.space-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.space-text-container .home-line {
  font-family: "Barlow Condensed", sans-serif;
  color: #d0d6f9;
  font-size: 1.1rem;
  word-spacing: 0.4rem;
}

.space-text-container .space-heading {
  font-family: "Bellefair", serif;
  color: #ffffff;
  font-size: 5.3rem;
}

.space-text-container .space-para {
  font-family: "Barlow", sans-serif;
  color: #d0d6f9;
  text-align: center;
  font-size: 0.93rem;
}

.item {
  margin: 0.8rem 0;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 10rem;
  color: #0b0d17;
  background: white;
  padding: 2em;
  border-radius: 50%;
  margin: 0 auto;
  font-family: "Bellefair", serif;
  font-size: 1.2rem;
  text-decoration: none;
  z-index: 1;
  position: relative;
}

.explore::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.6s ease-in-out;
  transition: opacity 0.5s ease-in-out, -webkit-transform 0.6s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 0.6s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.explore:hover::after,
.explore:focus::after {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

.nav-animation {
  right: 0;
  z-index: 1;
  visibility: visible;
}

.open .line {
  background: transparent;
}

.open .line::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.open .line::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (min-width: 375px) {
  .nav {
    width: 65%;
  }
}

@media screen and (min-width: 768px) {
  img :not(#logo) {
    width: 100%;
    height: 100%;
  }
  body {
    background-image: url("../Files/assets/home/background-home-tablet.jpg");
  }
  header {
    padding: 1.5rem 2.5rem 1rem 2.5rem;
    margin-bottom: 6rem;
  }
  #logo {
    height: 48px;
    width: 48px;
  }
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: auto;
    visibility: visible;
    width: 60%;
    background: rgba(225, 225, 225, 0.1);
  }
  .nav .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
  .nav .nav-list .list-items {
    padding: 2rem 0rem;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .nav .nav-list .list-items a {
    font-size: 1.1rem;
  }
  .nav .nav-list .list-items a span {
    display: none;
  }
  .nav .nav-list .list-items:focus {
    border-bottom-color: rgba(225, 225, 225, 0.6);
  }
  .nav .nav-list .list-items.active {
    border-bottom-color: white;
    border-right: 2px solid transparent;
  }
  .burger {
    display: none;
  }
  .space-text-container .home-line {
    font-size: 1.5rem;
  }
  .space-text-container .space-heading {
    font-size: 9.5rem;
  }
  .space-text-container .space-para {
    font-size: 1.3rem;
    max-width: 65%;
  }
  .explore {
    width: 15.125rem;
    height: 15.125rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url("../Files/assets/home/background-home-desktop.jpg");
  }
  header {
    padding: 4rem 3rem;
  }
  .nav-line {
    display: block;
  }
  .nav {
    top: 2.25rem;
    width: 58%;
  }
  .nav .nav-list .list-items {
    padding: 2.5rem 0;
  }
  .nav .nav-list .list-items a span {
    display: inline;
  }
  .nav .nav-list .list-items:hover {
    border-bottom-color: rgba(225, 225, 225, 0.6);
  }
  .nav .nav-list .list-items.active {
    border-bottom-color: white;
    border-right: 2px solid transparent;
  }
  .space-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 60vh;
    max-width: 75%;
  }
  .space-container .space-text-container {
    max-width: 38%;
    margin: 0;
  }
  .space-container .space-text-container .home-line {
    font-size: 2rem;
    text-align: left;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .space-container .space-text-container .space-para {
    max-width: 100%;
    text-align: left;
  }
  .explore {
    margin: 11rem 0 0 0;
    width: 17.125rem;
    height: 17.125rem;
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */