$h1-font: "Bellefair", serif;
$h5-font: "Barlow Condensed", sans-serif;
$nav-font: "Barlow Condensed", sans-serif;
$para-font: "Barlow", sans-serif;
$sub-heading-font1: "Bellefair", serif;
$sub-heading-font2: "Barlow Condensed", sans-serif;
